html,
body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    background-color:#121212;
    margin: 0;
}
* {
    box-sizing: border-box;
  }
header {
    max-width: 550px;
    width:400px;
    max-height: 208px;
    height: 100%;
    /* background-color: #0E0E0E; */
    background-color: red;
    color: #FFFFFF;
    background-image: url("images/movie_background_2.jpeg");
    background-size:80%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    color: #FFFFFF;
    line-height: 1.5;
    margin-left: 42px;
}

span {
    font-size: 0.75em;
    margin-right: 48px;
}


input {
    width: 260px;
    background-color: #2E2E2F;;
    border: none;
    /* padding: 10px; */
    text-align: center;
    border: 1px solid red;
}

button {
    width: 120px;
    background-color: #4B4B4B;
    border: none;
    border-radius: 0.375em;
    color: #FFFFFF;
    /* padding: 0.25em 1em; */
    border: 1px solid white;
}

.search-container{
    display: flex;
    max-width: 462px;
    width: 87%;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    border-radius: 0.375em;
    background-color: #2E2E2F;
    padding: 0.125em;
    border: 1px solid yellow;
}

i {
    position: relative;
    color: white;
    padding: 0.5rem;
    min-width: 40px;
    top: 0;
}

.list {
    height: 572px; 
    max-width: 550px;
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4B4B4B;
}

.filler-img {
    width: 70px;
    height: 62px;
    margin-top: 211px;
    
}

form {
    margin: 0;
}